body {

    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('ai_logo.jpeg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    width: 400px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;

}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
}

label {
    text-align: center;
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0ba3e9;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0ba3e9;
}

a {
    text-decoration: none;
    color: white;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}
